*{
  padding: 0;
  margin: 0;
}

.tweet{
  background: #282c34;
  color: #fff;
  padding: 10px;
  border: inset 1px #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
}


a:link { color: #0099ff; }
a:visited { color: #cc00ff; }
a:hover { color: #ff4400; }
a:active { color: #ff8000; }
